* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    padding: 16px;
    background-color: #182c61;
    color: white;
}
header,
section h2,
section h3,
form button{
     font-family: "Bungee", sans-serif;
     font-weight: normal;
}

header nav li {
    display: inline;
    margin-left: 16px;
    font-size: 18px;
} 

header nav li a {
    color: white;
    text-decoration: none;
}

header nav li a:hover {
    text-decoration: underline;
}

body, input, textarea{
    font-family: "Roboto", sans-serif;
}


.container {
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
}

header .container,
section .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.brand-list img {
    height: 24px;
}

.brand-list li {
    display: inline;
    margin-right: 8px;
}

section .container {
    align-items: flex-start;
}

 section {
    padding: 24px 0;
    color: #182c61;
 }

 section h2 {
    margin-bottom: 16px;

}
section p {
    margin-bottom: 8px;
}

.store-front {
    margin-right: 32px;
}

.social-links img {
    height: 24px;
}

.social-links li {
    display: inline;
    margin-right: 8px;
}

#contact .container {
    display: block;
}

.contact-methods {
    display: flex;
    justify-content: space-between;
}

form input,
form textarea,
form button {
display: block;
width: 320px;
margin-bottom: 8px;
padding: 8px;
}

form textarea {
    resize: none;
    height: 150px;
}

section h3 {
    margin-bottom: 16px;
}

form button {
 background-color: #182c61;
 color:white;
 border: none;
 cursor: pointer ;
}
 
form button:hover {
    background-color:#253b77;
}
input:focus, textarea:focus {
    outline-color: #182c61;
}

 footer {
    background-color: #182c61;
    color: white;
    padding: 16px 0;
 }
